
/**
 * @file
 * Contains IE specific CSS hacks.
 *
 * Put all IE CSS hacks in this file. It will be
 * loaded by conditional comment in page.tpl.php
 */

/* Fix IE6 vertical scrollbar in <pre> */
pre {
  overflow-y: hidden;
  padding-bottom: 1.3em;
  width: 100%;
  font-size: 1em;
}

/* Fix IE italic bug */
#main .node .entry p {
  overflow: visible;
  zoom: 1;
}

/* Fix IE 6 horizontal drop down menu hover bottom gap bug */
* html li {
  vertical-align: bottom;
}

/* Fix IE 6 min-height bug */
#header {
  height: auto !important;
  height: 130px;
}

tr.even td,
tr.odd td {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

tr td.active {
  background-color:#ddd;
}

#main ul.menu li.leaf a {
  vertical-align: 50%;
}

div.admin .left {
  float: left;
  margin-left: 1em;
  width: 46%;
}

div.admin .right {
  float: right;
  margin-right: 1em;
  width: 46%;
}