
h1 {
  font-size: 2.4em;
  margin: 0.67em 0;
}

h2 {
  font-size: 2em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.2em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

pre {
  font-size: 1.2em;
  overflow: auto;
}

p {
  margin: 1em 0;
}

i, cite, em, var, dfn {
  font-style: italic;
}

sup {
  font-size: smaller;
  line-height: normal;
  vertical-align: super;
}

ol,
ul {
  margin: 1em 0;
  padding-left: 20px;
}

dd {
  margin: 0 0 1em 0;
  padding-left: 20px;
}

table {
  border-spacing: 2px;
  width: 100%;
}

td {
  padding: 1px;
}

fieldset {
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: medium none;
  padding-left: 2px;
  padding-right: 2px;
  white-space: nowrap;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: arial, helvetica, sans-serif;
  font-size: 62.5%;
  background: #e7eef5;
  color: #222222;
}

a, a:visited, a:active,
.pager li a, .pager li a:visited, .pager li a:active {
  color: #27609b;
  text-decoration: none;
}

a:hover {
  color: #27609b;
  text-decoration: underline;
}

.item-list ul li {
  margin: 0 0 0.25em 0.5em;
}

.avatar {
  float: right;
}

.new {
  color: #f33;
}

.comment-links {
  margin-top: 1em;
  text-align: right;
}

#main p.read-more {
  margin: 20px 0;
}

fieldset {
  margin: 20px 0;
}

table {
  width: 100%;
}

img {
  padding: 0;
  border: 0;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.alignright {
  display: inline;
  margin: 0 0 2px 7px;
  padding: 4px;
}

img.alignleft {
  display: inline;
  margin: 0 7px 2px 0;
  padding: 4px;
}

#logo {
  float: left;
  margin: 8px 0 0;
}

#container {
  font-size: 1.2em;
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

#header {
  min-height: 130px;
  margin: 0;
  width: 928px;
}

#header-wrapper{
  background: url('../images/blue-bg.gif') left top repeat-x;
  border-left: 1px solid #7fabda;
  border-right: 1px solid #7fabda;
  padding: 0 0 0 30px;
}

#site-name-slogan {
  float: left;
}

#header h1 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -1px;
  margin: 0;
}

#header.no-logo #site-name-slogan {
  margin: 26px 0 0;
}

#header.with-logo #site-name-slogan {
  margin: 26px 0 0 10px;
}

#header p {
  color: #accbea;
  font-size: 14px;
  padding: 0;
  text-align: left;
}

#header p {
  margin: 0 0 0 5px;
}

#header h1 a,
#header h1 a:visited,
#header h1 a:active,
#header h1 a:hover {
  color: #fff;
  font-size: 36px;
  text-decoration: none;
}

#primary-nav {
  height: 37px;
}

#primary-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#primary-nav li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#primary-nav li ul {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
}

#primary-nav li ul li {
  float: none;
  list-style-image: none;
}

#primary-nav li:hover ul,
#primary-nav li.hover ul {
  display: block;
}

#primary-nav ul li a {
  background: transparent url('../images/tab-left.gif') no-repeat left 0;
  display: block;
  margin: 0 4px 0 0;
  padding: 11px 0 11px 24px;
}

#primary-nav ul li.hover a,
#primary-nav ul li a:hover,
#primary-nav ul li.active-trail a {
  background-position: left -37px;
}

#primary-nav ul li a:hover span {
  text-decoration: underline;
}

#primary-nav ul li a span {
  background: transparent url('../images/tab-right.gif') no-repeat right 0;
  padding: 11px 24px 11px 0;
  color: #154B70;
}

#primary-nav ul li.hover a span,
#primary-nav ul li a span:hover,
#primary-nav ul li a:hover span,
#primary-nav ul li.active-trail a span {
  background-position: right -37px;
}

#primary-nav ul li ul {
  background: transparent url('../images/drop-bottom.gif') no-repeat 0 bottom;
  opacity: 0.9;
  padding: 0 0 4px;
  z-index: 2;
}

#primary-nav ul li ul li {
  width: 154px;
}

#primary-nav ul li ul li a {
  border-left: 1px solid #7699c3;
  border-right: 1px solid #7699c3;
  border-top: 1px solid #7699c3;
  background: #ecf3fa;
}

#primary-nav ul li ul li a span,
#primary-nav ul li ul li a:link span,
#primary-nav ul li ul li a:visited span {
  padding: 0;
  background: transparent;
}

#content {
  background: #fff;
  border-left: 1px solid #b4b9bf;
  border-right: 1px solid #b4b9bf;
  float: left;
  margin: 0;
  padding: 20px 0 0 0;
  width: 958px;
}

#content-header,
#content-top,
#content-bottom {
  text-align: center;
}

#content-top,
#content-bottom {
  margin: 20px 0;
}

#main {
  display: inline;
  float: left;
  margin: 15px 30px 0 30px;
  padding: 0 0 35px 0;
}

#main.with-sidebar {
  width: 532px;
}

#main.no-sidebar {
  width: 898px;
}

#main .node.sticky {
  background: #ffd none repeat scroll 0 0;
  border: 1px dotted #F0C020;
  margin-bottom: 20px;
  padding: 10px;
}

#main p {
  line-height: 1.3em;
  margin: 12px 0 12px 0;
  padding: 0;
}

#main h2 {
  border-bottom: 1px solid #e7eef5;
}

#main h2,
#main h2 a,
#main h2 a:visited,
#main h2 a:active {
  color: #27609b;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: -1px;
  margin: 0;
  text-decoration: none;
}

#main h2 a:hover {
  color: #222;
  text-decoration: none;
}

.entry {
  margin: 0;
  padding: 0;
}

.post {
  margin: 0;
  padding: 0 0 20px 0;
}

.post-info,
.node-links {
  color: #6e6e6e;
  font-size: 12px;
  height: 15px;
  text-align: right;
}

.post-info {
  padding: 0 0 6px;
  margin: 2px 0 0;
}

.node-links {
  margin: 12px 0 0;
}

.meta a,
.meta a:visited,
.meta a:active {
  color: #6e6e6e;
}

.meta a:hover {
  color: #222;
  text-decoration: underline;
}

.submitted {
  background: url('../images/icon-post.gif') no-repeat left center;
  color: #6e6e6e;
  float: left;
  margin: 0;
  padding: 0 0 0 13px;
}

.comments,
ul.links li.comments {
  background: url('../images/icon-com.gif') no-repeat left center;
  margin: 0;
  padding: 0 0 0 16px;
}

.post-info .comments {
  float: right;
}

#main .tags {
  background: url('../images/icon-tag.gif') no-repeat left top;
  color: #6e6e6e;
  margin: 20px 0 12px 0;
  padding: 0 0 0 18px;
}

#main .tags-empty {
  margin: 24px 0 0;
}

#main .tags ul {
  list-style-type: none;
  padding-left: 0;
}

.tabs {
  padding-left: 0;
}

h3 {
  color: #27609b;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 14px 0;
}

#comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

#comments ul.tips {
  padding-left: 20px;
}

#comments div.comment {
  margin: 0;
  padding: 14px 11px 10px 11px;
}

#comments .odd {
  background: #e7eef5;
}

#comments .even {
  background: #ffffff;
}

#comments div.comment p {
  margin-top: 12px;
  margin-bottom: 6px;
  line-height: 130%;
}

#writecomment {
  background: #e7eef5;
  border: 1px solid #b4b9bf;
  margin-top: 20px;
  padding: 10px 10px 10px 15px;
}

#writecomment p {
	margin: 10px;
}

form {
  padding: 0;
  margin: 0;
}

#comment-form {
  background: #fff;
}

#comment-form textarea {
  border: 1px solid #b4b9bf;
  padding: 2px;
  width: 95%;
}

#comment-form input[type="text"],
#comment-form input[type="button"] {
  border: 1px solid #b4b9bf;
  margin: 0 7px 0 0;
  width: 180px;
}

#comment-form .form-submit {
  background-color: #fff;
  border: 1px solid #b4b9bf;
  color: #222;
  width: 120px;
}

blockquote {
  border-left: 5px solid #d7d7d7;
  color: #6e6e6e;
  margin: 15px 30px 15px 5px;
  padding-left: 10px;
}

#main .pager {
  margin: 0;
  padding: 15px 5px 5px 5px;
}

#main .postpagesnav .older {
  float:left;
  width:50%;
}

#main .postpagesnav .newer {
  float: right;
  text-align:right;
  width: 50%;
}

#sidebar {
  border-left: 1px solid #e7eef5;
  float: left;
  margin: 11px 0 0 0;
  padding: 0 0 35px 30px;
  width: 305px;
}

#sidebar-left {
  float: left;
  margin-right: 11px;
  width: 147px;
}

#sidebar-right {
  float: left;
  width: 147px;
}

#sidebar h2 {
  border-bottom: 1px solid #e7eef5;
  color: #27609b;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 0 0 1px 0;
}

#sidebar ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

#sidebar li {
  margin-bottom: 3px;
  margin-left: 0;
}

#sidebar .block .content,
#sidebar .block .content ul {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 0;
	padding-right: 0;
}

#sidebar .block .content ul.menu {
  padding-left: 1.5em;
}

#sidebar .block .content ul li {
  border-bottom: 1px dotted #e7eef5;
  margin-left: 0;
  padding-bottom: 3px;
  padding-left: 0;
}

#sidebar .block .content ul li a,
#sidebar .block .content ul li a:visited,
#sidebar .block .content ul li a:active {
  color: #222;
}

#sidebar .block .content ul li a:hover {
  color: #27609b;
  text-decoration: none;
}

#sidebar .item-list ul li {
  list-style-type: none;
}

#mission {
  background: #e7eef5;
  border: 1px solid #b4b9bf;
  padding: 12px 15px 12px 15px;
}

#mission h2 {
  margin-top: 5px;
}

#mission p {
  line-height: 130%;
}

/* header quick search */
#search-box {
  margin-right: 30px;
}
#search-theme-form {
  float: right;
  padding: 0;
  margin: 26px 0 0 0;
  border: none;
  width: 223px;
  height: 33px;
  background: #82c7f4 url(../images/header-search.gif) no-repeat;	
  z-index: 999999;
}
#search-theme-form p {
  margin: 0;
  padding: 0;		
}
#search-theme-form input {
  border: none;
  background: transparent;
  color: #0e5792;
  float: left;
  font-size: 1.2em;
}
#search-theme-form .tbox {
  margin: 5px 0 0 5px; 
  width: 170px;	
  display: inline;	
}
#search-theme-form .btn{
  width: 25px;
  height: 25px;		
}
#search-theme-form label {
  display: none;
}
#search-theme-form input.btn {
  left: 15px;
  position: relative;
  top: 2px;
}

#footer {
  background: #e7eef5;
  border-top: 1px solid #b4b9bf;
  color: #888;
  clear: both;
  margin: 0;
  padding: 16px 0;
  text-align: center;
  width: 960px;
}

#footer p {
	margin: 0;
	padding: 0;
}

.messages, .help {
  margin: 20px 0;
}

div.messages {
  padding: 1.5em;
}

div.status, tr.status {
  background: #ddf none repeat scroll 0 0;
  color: #002;
}

div.status {
  border:1px solid #2090f0;
}
